{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Вас Вітає веб церква </h1>



<div class="cerkva ">
    <div class="services">
        <div class="row offset-md-1">
          <div class="col-2">
              <a href="{% url 'order_service' %}?service=1"><img src="{% static 'svichka.png' %}" alt="Поставити свічку"></a>
          </div>
          <div class="col-2">
              <a href="{% url 'order_service' %}?service=2"><img src="{% static 'mech.png' %}" alt="Освятити"></a>
          </div>
          <div class="col-2">
              <a href="{% url 'order_service' %}?service=3"><img src="{% static 'grob.png' %}" alt="Відспівати"></a>
          </div>
          <div class="col-2">
              <a href="{% url 'order_service' %}?service=4"><img src="{% static 'priest.png' %}" alt="Зняти порчу"></a>
          </div>
          <div class="col-2">
              <a href="{% url 'order_service' %}?service=5"><img src="{% static 'ikona.png' %}" alt="Замолити гріхи"></a>
          </div>

        </div>
    </div>

</div>
{% endblock %}
